@import 'variables';

body:not(.navigation-categories):not(.navigation-topics) #main-outlet {
  @include border-radius;
  box-shadow: 0 8px 60px 0 rgba(103,151,255,.10), 0 12px 90px 0 rgba(133,255,103,.10);
  padding: 2em;
  background-color: $color-white;
  border-top: 8px solid $tertiary;
  margin-top: .8em;
}

#main-outlet:after  {
  content: "";
  display: block;
  position: fixed;
  z-index: -1;
  width: 500px;
  height: 500px;
  border-radius: 2000px;
  background: $color-blue;
  right: 1px;
  top: -57px;
}

#main-outlet:before {
  content: "";
  display: block;
  position: fixed;
  z-index: -1;
  width: 300px;
  height: 300px;
  border-radius: 30px;
  background: $color-square-webkit-gradient;
  background: $color-square-gradient;
  left: 70px;
  top: 350px;
  transform: rotate(74deg);
  transform-origin: 0 100%;
}

.d-header {
  height: 5em;
  box-shadow: none;
  background: #1A1623;
  color: white;
}

.d-header .title a, .d-header .title a:visited {
    
    color: white;
}

.d-header .title a, .d-header .title a:visited {
    color: var(--header_primary);
    color: white;
}
.custom-header-links .headerLink a {
    color: white;
}


element.style {
}
.custom-footer {
    background: #1A1623;
}




.custom-search-banner-wrap {
    box-sizing: border-box;
    position: relative;
    padding: 2.5em 0 3em;
    background: #1A1623;
    margin: 0;
}
